<tr>
  <th class="list-item"> <%= order.id %> </th>
</tr>
<% @details = OrderDetail.where(order_id: order.id)%>
<% @details.each do |detail| %>
  <% @card = Card.find(detail.card_id) %>
  <tr>
    <td class="list-item"> <%= @card.name %> </td>
    <th class="subtitle"> Quantity: </th>
    <td> <%= detail.quantity %> </td>
  </tr>
<% end %>
<tr class="list">
  <th class="list-item"> gst: <%= number_to_currency(order.gst) %> </th>
  <th class="list-item"> pst: <%= number_to_currency(order.pst) %> </th>
  <th class="list-item"> hst: <%= number_to_currency(order.hst) %> </th>
  <th class="list-item"> Subtotal: <%= number_to_currency(order.total_cost) %></th>
</tr>
