<p id="notice"><%= notice %></p>

<h1 class="title">Checkout </h1>

<table>
  <thead>
    <tr>
      <th>Cards</th>
      <th>Quantity</th>
      <th>Price Each</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% session[:cart].each do |key, value|%>
      <% @card = Card.find(key)%>
      <tr>
        <td><%= @card.name %> </td>
        <td><%= value %></td>
        <td><%= number_to_currency(@card.price)  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <ul>
    <li> Before Tax: <%= number_to_currency(@total_price) %></li>
    <li> GST: <%= number_to_currency(@gst) %></li>
    <li> PST: <%= number_to_currency(@pst) %></li>
    <li> HST: <%= number_to_currency(@hst) %></li>
    <li> After Tax: <%= number_to_currency(@after_tax) %> </li>
  </ul>
<br>
</div>
<div>
  <%= button_to 'Purchase', checkout_create_path, method: :post, remote: true %>
</div>



