<p id="notice"><%= notice %></p>

<h1 class="title">Checkout </h1>

<table>
  <thead>
    <tr>
      <th class="subtitle">Cards</th>
      <th class="subtitle">Quantity</th>
      <th class="subtitle">Price Each</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="table is-bordered">
    <% session[:cart].each do |key, value|%>
      <% @card = Card.find(key)%>
      <tr>
        <td><%= @card.name %> </td>
        <td><%= value %></td>
        <td><%= number_to_currency(@card.price)  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <ul class="list">
    <li class="list-item"> <strong>Before Tax:  </strong><%= number_to_currency(@total_price) %></li>
    <li class="list-item"> <strong> GST: </strong> <%= number_to_currency(@gst) %></li>
    <li class="list-item"> <strong> PST:</strong> <%= number_to_currency(@pst) %></li>
    <li class="list-item"> <strong> HST: </strong><%= number_to_currency(@hst) %></li>
    <li class="list-item"> <strong> After Tax: </strong> <%= number_to_currency(@after_tax) %> </li>
  </ul>
<br>
</div>
<div>
  <%= button_to 'Purchase', checkout_create_path, method: :post, remote: true %>
</div>



