<div class="column is-one-third">
  <div class="card">
    <div class="title">
      <% if show_link %>
        <%= link_to card.name, card %>
      <% else %>
        <%= card.name %>
      <% end %>
    </div>
    <div class="card-content">
      <p> Information: </p>
      <% @cate = Category.where(name: card.card_type).first %>
      <p class="card-footer-item"> Card Type: <%= link_to @cate.name, @cate %></p>
      <% if is_show %>
       <p class="card-footer-item"> Description: <%= card.description %></p>
      <% end %>
      <p class="card-footer-item"> Attack: <%= card.attack %></p>
      <p class="card-footer-item"> Defence: <%= card.defence %></p>
      <p class="card-footer-item"> Price: <%= number_to_currency card.price %></p>
      <div>
        <% if @cart.include?(card) %>
          <%= button_to 'Remove from cart', remove_from_cart_path(card.id), method: :delete %>
        <% else %>
          <%= button_to 'Add to cart', add_to_cart_path(card.id), method: :post %>
        <% end %>
      </div>
    </div>
  </div>
</div>
