<!DOCTYPE html>
<html>
  <head>
    <title>BuyMyCards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

  </head>

  <body>
    <div class="container">
      <br>
      <h1 class="title"> Buy My Cards </h1>
      <ul>
        <li> <%= link_to 'Home', root_path %> |  <%= link_to 'About', about_path %> |  <%= link_to 'Categories', catindex_path %></li>
        <li> <%= render partial: 'shared/search_form'%></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
